<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pedometer.steptracker.runwalk.dailytrack">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />


    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.sensor.stepcounter"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.sensor.stepdetector"
        android:required="true" />


    <application
        android:name="MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">

        <activity
            android:name=".activity.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".activity.PermissionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.NoActionBar" />

        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.NoActionBar" />

        <activity
            android:name=".activity.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.NoActionBar" />


        <activity
            android:name=".activity.SettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.NoActionBar" />

        <activity
            android:name=".activity.StepGoalActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".activity.DetailsReportActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.NoActionBar" />

        <activity
            android:name=".activity.ActivityActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.NoActionBar" />

        <activity
            android:name=".activity.AchievementActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.NoActionBar" />


        <activity
            android:name=".activity.GuideActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".activity.InterestActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".utils.NativeFullLanguage"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".utils.LoadNativeFullNew"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".activity.nativefull.ActivityLoadNativeFullV2"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".activity.nativefull.ActivityLoadNativeFullV3"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.TransparentActivity" />
        <activity
            android:name=".activity.nativefull.ActivityLoadNativeFullV5"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".activity.fragmentIntro.IntroActivityNew"
            android:theme="@style/Theme.Design.NoActionBar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.UninstallActivity"
            android:theme="@style/Theme.Design.NoActionBar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SplashActivityUninstall"
            android:theme="@style/Theme.Design.NoActionBar"
            android:screenOrientation="portrait" />



        <activity
            android:name=".activity.IntroActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.NoActionBar" />

        <activity
            android:name=".activity.LanguageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".utils.ActivityLoadNativeFull"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.NoActionBar" />

        <service
            android:name=".service.StepCounterService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/app_id" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />
        <meta-data
            android:name="com.facebook.sdk.AutoInitEnabled"
            android:value="true" />
        <meta-data
            android:name="com.facebook.sdk.AutoLogAppEventsEnabled"
            android:value="true" />
        <meta-data
            android:name="com.facebook.sdk.AdvertiserIDCollectionEnabled"
            android:value="true" />
        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA-ZwZgFpsYEEh7Dmak2lTGthZ2QZFng0w" />

    </application>


</manifest>